<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Bienvenido</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	
	<link rel="stylesheet" type="text/css" href="./css/estilos.css">

</head>
<body>

	<div class="contenedor d-flex flex-column justify-content-center align-items-center">
		
		<p class="h1 text-light my-2">Bienvenido</p>
		<!--<p class="h3 text-light my-2">Pablo Gómez Reverte</p>
		<p class="h4 text-light my-2">pagore@gmail.com</p>-->

		<div class=" cajaFormLogin my-2">
			
			<form method="POST" action="#" class="formularioContraLogin d-flex flex-column justify-content-center align-items-center">

				<input th:field="${codigo}" type="text" size="60" class="my-4 text-center" placeholder="Código">

				<input th:text="${contrasenya}" type="text" name="passwd" size="60" class="my-4 text-center" placeholder="Password">

				<input type="submit" name="envio" class="mt-4 botonEnvio text-white font-weight-bold" value="Acceder">


			</form>

		</div>

	</div>








	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>