<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Horario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!--<link rel="stylesheet" type="text/css" href="../css/estilos.css">-->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body class="mx-0 my-0">

<div class="contenedor container-fluid">

    <div class="column ">

        <div class="col-6 offset-6 d-flex flex-row justify-content-end">

            <h3 class="px-2">NombreUsuarioAutenticado</h3>
            <!--Logout-->
            <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="text-dark text-decoration-none"><h3>Logout</h3></a>

        </div>

        <div class="container-fluid col-12 row mx-0">
            <div class="d-flex flex-column col-6  container-fluid justify-content-center align-items-center mx-0">
                <a th:href="@{/alumno/convalidaciones}" class="my-3 h1 text-muted boton-redo d-flex flex-row justify-content-center align-items-center text-decoration-none" id="botonIniAdminTit">
                    <div >
                        Convalidaciones
                    </div>
                </a>
                <a th:href="@{/alumno/ampliaciones}" class="my-3 h1 text-muted boton-redo d-flex flex-row justify-content-center align-items-center text-decoration-none" id="botonIniAdminUsu">
                    <div >
                        Ampliaciones de matricula
                    </div>
                </a>
            </div>

            <div class="d-flex flex-row col-6 offset-6 container-fluid justify-content-between horario mx-0"><!--offset-6-->
                <div  class="d-flex flex-column  dia" th:each="dia : ${horario}">

                    <div th:each="as : ${dia}">
                        <div th:text="${as.nombre}" class="cajaElementoHorario d-flex justify-content-center align-items-center"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>





</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>