<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Alumnos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<!--<link rel="stylesheet" type="text/css" href="../css/estilos.css">-->
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body class="mx-0 my-0">

	<div class="contenedor container-fluid">
		
		<div class="row">
			<div class="col-6 d-flex flex-row">
				<h1>></h1>
				<a th:href="@{/jf/adminInicio}" class="text-white"><h1>HOME</h1></a>
				<h1>></h1>
				<h1>ALUMNOS</h1>
			</div>
			<div class="col-6 d-flex flex-row justify-content-end">
				
				<h3 class="px-2">NombreUsuarioAutenticado</h3>
				<!--Logout-->
				<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
				<a href="javascript:document.getElementById('logoutForm').submit()" class="text-dark text-decoration-none"><h3>Logout</h3></a>
			
			</div>
		</div>

		<div class="row d-flex flex-row justify-content-around">

			<a th:href="@{/jf/adminAlumnos/addAlumno}"  class="h1 text-white col-3 botonInicioAdmin bg-primary d-flex flex-row justify-content-center align-items-center text-decoration-none" >
				<div>
					Añadir
				</div>
			</a>
			<a th:href="@{/jf/adminAlumnos}" class="h1 text-white col-3 botonInicioAdmin bg-primary d-flex flex-row justify-content-center align-items-center text-decoration-none" >
				<div >
					Alumnos
				</div>
			</a>
			<a th:href="@{/jf/adminProfesores}" class="h1 text-white col-3 botonInicioAdmin bg-primary d-flex flex-row justify-content-center align-items-center text-decoration-none" >
				<div >
					Profesores
				</div>
			</a>
		</div>

		<div class="container-fluid d-flex flex-column">
			
			<ul>
				<li th:each="alumno : ${alumnos}" class="container-fluid d-flex flex-row align-items-center cajaListarElementos col-10 offset-1 mt-3">

					<div th:text="${alumno.nombre}+' '+${alumno.apellidos}" class="col-3 text-center h3">Nombre</div>
					<div class="col-3 text-center h3" th:text="${alumno.curso.nombre}">Curso</div><!--th:text="${alumno.curso.nombre}"-->
					<a th:href="@{/jf/accederConvalidaciones/{id}(id=${alumno.id})}" ><div class="col-2 text-center" th:text="'Convalidaciones Pendientes: '+${alumno.situacionesExc.size()}">Peticiones</div></a>
					<div class="col-2 text-center"><a th:href="@{/jf/adminAlumnos/editarAlumno/{id}(id=${alumno.id})}"><div class="botonEnvio d-flex justify-content-center align-items-center text-white">Editar</div></a></div>
					<div class="col-2 text-center"><a th:href="@{/jf/adminAlumnos/eliminarAlumno/{id}(id=${alumno.id})}"><div class="botonEnvio bg-danger d-flex justify-content-center align-items-center text-white">Borrar</div></a></div>

				</li>
			</ul>

		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>